body{
    margin: 0;
    font-size: 16px;
    font-family: 'Mulish' , sans-serif;
    box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
    .customer-card__content{
        flex-direction: column;
        gap: 10px;
    }
}

@media only screen and (max-width: 992px) {
    .card{
        min-width: 40%;
    }

    .navheader{
        display: none;
    }

    #topnav__right__btn{
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .card{
        min-width: 75%;
    }

    .footer-content{
        flex-direction: column;
    }


}

@media only screen and (max-width: 576px) {
    .container{
        max-width: 100%;
    }

    
  }

  @media only screen and (min-width: 576px) {
    .container{
        min-width: 540px;
        margin-left: auto;
        margin-right: auto;
    }

    .img-fluid{
        max-width: 100%;
        height: auto;
    }
  }

  @media only screen and (min-width: 768px) {
    .container{
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
}

  @media only screen and (min-width: 992px) {
    .container{
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    #topnav__right__btn{
        display: none;
    }

    .navheader{
        display: flex;
        gap: 40px;
    }
  }

  @media only screen and (min-width: 1200px) {
    .container{
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
    }

    .customer-card__content{
        gap: 110px;
    }
  }

  @media only screen and (min-width: 1400px) {
    .container{
        max-width: 1320px;
        margin-left: auto;
        margin-right: auto;
    }

    .customer-card__content{
        gap: 110px;
    }
  }

.header, .ourservice, .providers, .mobileapps, .customers, .article, .footer{
    position: relative;
    max-width: 100%;
}

.ourservice, .providers, .mobileapps, .customers, .article, .footer{
    margin-top: 200px;
}

.topnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 56px;
}

.topnav__right{
    display: flex;
    align-items: center;
}

.menu-icon{
    width: 30px; 
    height: 30px;
}

#topnav__right__btn{
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 4px 10px 4px;
}

.header-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-text{
    flex: 1;
    margin-left: 29px;
}

.header-text__header{
    font-size: 3rem;
}

.header-text__content{
    font-size: 21px;
}

.header-text__button{
    background: #458FF6;
    font-weight: 700;
}

.header-img{
    flex: 2;
    padding-left: 109px;
}

.text-header{
    text-align: center;
}

.mse-auto{
    margin-left: auto;
    margin-right: auto;
}

.text-para{
    font-size: 18px;
    margin-bottom: 80px;
    text-align: center;
}

.service{
    display: flex;
    flex-wrap: wrap;
    gap: 34px 37px;
    justify-content: center;

}

.card-header{
    font-size: 24px;
    font-weight: 700;
    color: black;
}

.ourservice__button{
    text-align: center;
    margin-top: 70px;
}

.providers-content{
    display: flex;
    align-items: center;
    gap: 40px;
}

.providers-content__image{
    flex: 2;
}

.providers-content__text{
    flex: 1;
}

.header-secondary{
    font-size : 2.25rem;
}

.mobileapps-content{
    display: flex;
    align-items: center;
}

.mobileapps-content__text{
    flex: 1;
}

.mobileapps-content__image{
    flex: 2;
}

.customer{
    margin: auto;
    width: 85%;
}

.customer-card{
    background: linear-gradient(208deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 1.5rem;
}

.customer-card__header{
    text-align: center;
    padding-top: 4rem;
}

.customer-card__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-bottom: 80px;
    padding-right: 120px;
}

.card-content__left{
    display: flex;
    flex: 1;
    align-items: center;
}

.customer-info{
    margin-left: 1.8125rem;
}

.customer-info__name{
    font-size: 1.375rem;
}

.customer-info__pos{
    font-size : 1.125rem;
}

.card-content__right{
    flex: 1;
    padding: 0px 5px 5px;
}

.slick-prev{
    width: 80px;
    height: 60px;
    left: 200px;
    top: 103%;
}

.slick-next{
    width: 80px;
    height: 60px;
    right: 200px;
    top: 103%;
}

.slick-dots li button:before{
    font-size: 10px;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #5B9BF3;
}

.article__content{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 34px 37px;
    justify-content: space-between;
}

.article__button{
    text-align: center;
    margin-top: 70px;
}

.footer-content{
    display: flex;
    padding: 80px 200px 80px 100px;
    box-sizing: border-box;
    align-items: center;
}

.footer-content__trafalgar{
    flex: 2;
}

.footer-content__company, .footer-content__region, .footer-content__help{
    flex: 1;
}

.logo-footer{
    display: flex;
    align-items: center;
}

.logo-footer__trademark{
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-footer__header{
    font-weight: 700;
    font-size: 1.25rem;
}

.nav-link{
    text-decoration: none;
    font-size : 1.125rem;
}

.nav-link-header{
    color: #1F1534;
}

.active{
    color: black;
    font-weight: 700;
}

.bg-header{
    position: absolute;
    top: 100px;
}

.bg-ourservice{
    display: block;
    position: absolute;
    top: -50px;
    z-index: 0;
    opacity: 60%;
}

.dot-mobileapps{
    display: block;
    position: absolute;
    top: -100px;
    z-index: 0;
    opacity: 30%;
}

.dot-ourservice{
    display: block;
    position: absolute;
    top: 500px;
    right: 10px;
    z-index: 0;
    opacity: 60%;
}

.dot-customer1{
    display: block;
    position: absolute;
    top: 350px;
    left: 70px;
    z-index: 0;
    opacity: 30%;
}

.dot-customer2{
    display: block;
    position: absolute;
    top: -20px;
    right: 100px;
    z-index: 1;
}

.bg-article{
    display: block;
    position: absolute;
    top: -20px;
    right: 0px;
    z-index: -1;
}

#topnav-column{
    display: none;
    flex-direction: column;
    gap: 40px;
}

.text-secondary {
    color: #7D7987;
}

.btn-primary{
    flex-shrink: 0;
    border-radius: 55px;
    border: 0px;
    width: 200px;
    height: 56px;
}

.btn-primary:hover{
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.btn-secondary:hover{
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    color: white;
}

.text-white{
    color: white;
}

.underline{
    width: 56px;
    border-bottom: 2px solid black;
}

.underline-white{
    width: 56px;
    border-bottom: 2px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.card{
    display: flex;
    background: white;
    flex-direction: column;
    border: 1px solid #ddd; 
    align-items: center; 
    border-radius: 20px;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
    justify-content: space-evenly;
    align-items:flex-start; 
    overflow: hidden;  
    box-sizing: border-box;
    width: 30%;
    z-index: 1;
}

.card-primary{
    padding: 39px 46px 40px 46px;
    height: 350px;
}

.btn-secondary{
    background: white;
    color:#458FF6;
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    font-size: 18px;
    font-weight: 700;
}

.bg-footer{
    background: linear-gradient(183deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.container-fluid{
    max-width: 100%;
}

.nav-footer{
    flex-direction: column;
    list-style: none;
    font-weight: 300;
    line-height: 38px;
}

.card_body-article{
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 35px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.text-center{
    text-align: center;
}

.customer__image{
    border: 5px solid white;
    border-radius: 70px;
}